<section id="about" class="section" ng-controller="ListingsCtrl">
  <div class="container listing-details" ng-init="loadListing(<%= params[:id] %>)">
    <div class="text-center">
      <br>
      <p class="top">{{listing.addr || "Loading Details"}}</p>
    </div>
    <h1 class="page_title">UNIT #{{listing.unit_num}}</h1>

    <div class="subnav">
    </div>

    <div class="row condo">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8">
            <div class="property-slider">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{active : $first}" ng-repeat="img in listing.images"></li>
                </ol>
                <div class="carousel-inner">
                  <div ng-class="{active : $first, item : true}" ng-repeat="img in listing.images">
                    <img ng-src="{{img}}" alt="" onerror="this.onerror=null;this.src='/missing-image.png';"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-sm-4">
                <% if @listing.created_at > 48.hours.ago %><div class="alert-info">NEW</div><% end %>
              </div>
              <div class="col-sm-8 text-right-lg">
                <h2 class="gold price">{{listing.lp_dol ? (listing.lp_dol | currency : "$CAD ").slice(0, -3) : "--"}}</h2>
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row">
              <div class="col-sm-6">
                <ul class="list-unstyled">
                  <li><span class="gold">MLS:</span> {{listing.ml_num}}</li>
                  <li><span class="gold">SQ.FT:</span> {{listing.sqft}}</li>
                  <li><span class="gold">BEDROOMS:</span> {{listing.br}}</li>
                  <li><span class="gold">BATHROOMS:</span> {{listing.bath_tot}}</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="list-unstyled">
                  <li><span class="gold">FIREPLACE:</span> {{listing.fpl_num == "Y" ? "Yes" : "No"}}</li>
                  <li><span class="gold">FURNISHED:</span> {{listing.furnished == "Y" ? "Yes" : "No"}}</li>
                  <li><span class="gold">PARK SPACES:</span> {{listing.park_spcs || "--"}}</li>
                  <li><span class="gold">WALKSCORE:</span> {{current_walkscore || "N/A"}}</li>
                </ul>
              </div>
            </div>
            <hr>
            <br>
            <div class="row">
              <div class="col-sm-6">
                <%= image_tag "details-icon.png" %>
              </div>
              <div class="col-sm-6">
                <ul class="list-unstyled" style="text-align: right;">
                  <li></li>
                  <li></li>
                  <li>{{listing.addr || "Loading Details"}}</li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li>FLOOR {{listing.stories}}</li>
                  <li>UNIT #{{listing.unit_num}}</li>
                </ul>
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row listing_social">
              <div class="col-md-5">
                <% if current_user && current_user.favourited?(@listing.id) %>
                  <a href="" disabled="disabled">FAVOURITED</a>
                <% else %>
                  <a href="" ng-click="add_favourite(<%= params[:id] %>)" id="favourite">SAVE AS FAVOURITE</a>
                <% end %>
              </div>
              <div class="col-md-7">
                SHARE WITH FRIENDS&nbsp;&nbsp;
                <a href="#"><%= image_tag "icons/twitter.png", height: "16", width: "16", alt: "Twitter" %></a>
                <a href="#"><%= image_tag "icons/facebook.png", height: "16", width: "16", alt: "Facebook" %></a>
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row">
              <div class="col-md-12">
                <a class="btn btn-gold btn-block request-info-link" data-modal-title="BOOK A VIEWING" data-modal-btn="BOOK A VIEWING" data-modal-source="BOOK A VIEWING" data-modal-details="BOOK A VIEWING" data-toggle="modal" data-target="#request-info-modal">BOOK A VIEWING</a>
              </div>
              <div class="col-md-12">
                <a class="btn btn-link btn-block white-link request-info-link" data-modal-title="CONTACT A SALES AGENT" data-modal-btn="CONTACT A SALES AGENT" data-modal-source="CONTACT A SALES AGENT" data-modal-details="CONTACT A SALES AGENT" data-toggle="modal" data-target="#request-info-modal">OR CONTACT A SALES AGENT</a>
              </div>
            </div>
          </div>

        </div>
        <br>
        <hr>
        <br>
        <div class="row">
          <div class="col-md-<%= @listing.s_r == 'Sale' ? '7' : '12' %>">
            <div class="row">
              <div class="col-md-12">
                <span class="gold">DESCRIPTION</span><br><br>
                <hr>
                <br>
                <div class="property-details">
                  <p>{{listing.description}}</p>
                  <p class="added">Added to our website {{listing.created_at|timeago}}</p>
                  <p class="viewed">Viewed <ng-pluralize count="listing.view_count" when="{'1': '1 time', 'other': '{} times'}"></ng-pluralize></p>
                  MLS. {{listing.mls}}
                  <br/>
                  {{listing.rltr}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <br><br>
                <span class="gold">FLOORPLAN</span><br><br>
                <table class="table table-nob table-sm">
                  <tbody>
                    <tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]" ng-show="listing['rm'+i+'_out']">
                      <th>{{listing['rm'+i+'_out']}}</th>
                      <td>{{listing['rm'+i+'_dc1_out'] ? listing['rm'+i+'_dc1_out']+";" : ""}} {{listing['rm'+i+'_dc2_out'] ? listing['rm'+i+'_dc2_out']+";" : ""}} {{listing['rm'+i+'_dc3_out'] ? listing['rm'+i+'_dc3_out']+";" : ""}}</td>
                      <td class="text-right">{{listing['rm'+i+'_len'] || "--"}}' x {{listing['rm'+i+'_wth'] || "--"}}'</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <% if @listing.s_r == 'Sale' %>
            <div class="col-md-5">
              <span class="gold">MORTGAGE CALCULATOR</span><br><br>
              <hr>
              <br>
              <form name="mortgage_form" novalidate ng-submit="mortgage_form.$valid && submit_mortgage_form()" id="mortgage_form" class="mortgage_form">
                <div class="row">
                  <div class="col-sm-3 no-padding">
                    <div class="form-group" ng-class="{ 'has-error': mortgage_form.home_price.$invalid }">
                      <label for="">PRICE</label>
                      <input name="home_price" ng-model="mortgage.home_price" required type="text" class="form-control" format="number" id="" placeholder="">
                      <span ng-show="mortgage_form.home_price.$invalid">can't be blank</span>
                    </div>
                  </div>
                  <div class="col-sm-3 no-padding">
                    <div class="form-group">
                      <label for="">DOWN PAYMENT</label>
                      <div class="input-group">
                        <input name="down_payment" ng-model="mortgage.down_payment" type="text" class="form-control" id="" placeholder="" format="number">
                        <span class="input-group-addon">%</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 no-padding">
                    <div class="form-group" ng-class="{ 'has-error': mortgage_form.rate.$invalid }">
                      <label for="">RATE</label>
                      <div class="input-group">
                        <input type="text" class="form-control" name="rate" required ng-model="mortgage.rate">
                        <span class="input-group-addon">%</span>
                        <span ng-show="mortgage_form.rate.$invalid">can't be blank</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 no-padding">
                    <div class="form-group" ng-class="{ 'has-error': mortgage_form.amortization.$invalid }">
                      <label for="">TERM</label>
                      <div class="input-group">
                        <input type="text" class="form-control" name="amortization" required ng-model="mortgage.amortization">
                        <span class="input-group-addon">YRS.</span>
                        <span ng-show="mortgage_form.amortization.$invalid">can't be blank</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-6 no-padding">
                    <a class="btn btn-gold btn-block" style="min-width: 0 !important;" ng-click="recalculate_mortgage()">Calculate</a>
                  </div>
                </div>
                <br><br><br>
                <div class="row">
                  <div class="col-md-4 text-center">
                    <span>DOWN PAYMENT</span><br>
                    <span class="mortgage-price">{{(mortgage.down_payment_calculated | currency).slice(0, -3)}}</span>
                  </div>
                  <div class="col-md-4 text-center">
                    <span>MAINTENANCE</span><br>
                    <span class="mortgage-price">{{(mortgage.maintenance | currency).slice(0, -3)}}</span>
                  </div>
                  <div class="col-md-4 text-center">
                    <span>MORTGAGE PAYMENT</span><br>
                    <span class="mortgage-price">{{(mortgage.payment | currency).slice(0, -3)}}</span>
                  </div>
                </div>
                <br>
                <hr>
                <br>
                <div class="row">
                  <div class="col-md-4 text-center">
                    <span>MORTGAGE AMOUNT</span><br>
                    <span class="mortgage-price">{{(mortgage.amount | currency).slice(0, -3)}}</span>
                  </div>
                  <div class="col-md-4 text-center">
                    <span>TAXES</span><br>
                    <span class="mortgage-price">{{(mortgage.taxes | currency).slice(0, -3)}}</span>
                  </div>
                  <div class="col-md-4 text-center">
                    <span class="gold">TOTAL MONTHLY PAYMENT</span><br>
                    <span class="mortgage-price gold">{{(mortgage.full_payment | currency).slice(0, -3)}}</span>
                  </div>
                </div>
                <br>
                <hr>
                <br>
                <div class="row">
                  <div class="col-md-12" style="font-size:10px;">
                    {{listing.description}}
                  </div>
                </div>
              </form>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row hidden-xs logos">
    <div class="col-sm-6">
      <%= image_tag "footer-left.png", width: "207", height: "56" %>
    </div>
    <div class="col-sm-6">
      <%= image_tag "footer-right.png", width: "250", height: "56", class: "pull-right" %>
    </div>
  </div>

  <div style="position: relative; top: -56px;">
    <a href="#page-top" class="center-block page-scroll" style="width: 50px"><%= image_tag "icons/up.png", width: "50", height: "49" %></a>
  </div>

  <div class="modal fade" id="request-info-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header icon-user">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">BOOK A VIEWING</h4>
        </div>
        <div class="modal-body">
          <h2 class="text-center"><%= @listing.address || "Address not available" %></h2>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="subscribe">
                <div class="subscribe-inner">
                  <center id="request_info_spinner" class="hide"><i class="fa fa-spinner fa-spin fa-3x"></i></center>
                  <div class="alert alert-success hide mb0" id="request_info_success">
                    Thank you for your interest! We'll get back to you shortly.
                  </div>
                  <div class="alert alert-danger hide mb0" id="request_info_error">
                    Something went wrong. Please reload the page and try again.
                  </div>
                  <form name="lead_form" novalidate ng-submit="lead_form.$valid && submit_request_form()" id="request_info_form">
                    <input name="details" type="hidden" id="listing_modal_details" value="">
                    <input name="source" type="hidden" id="listing_modal_source" value="">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': request_submitted && lead_form.first_name.$invalid }">
                          <input name="first_name" ng-model="request_info.first_name" type="text" class="form-control" placeholder="First Name" required ng-init="request_info.first_name='<%= current_user.try(:first_name) %>'">
                          <span ng-show="request_submitted && lead_form.first_name.$invalid">can't be blank</span>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': request_submitted && lead_form.last_name.$invalid }">
                          <input name="last_name" ng-model="request_info.last_name" type="text" class="form-control" placeholder="Last Name" required ng-init="request_info.last_name='<%= current_user.try(:last_name) %>'">
                          <span ng-show="request_submitted && lead_form.last_name.$invalid">can't be blank</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': request_submitted && lead_form.email.$invalid }">
                          <input name="email" ng-model="request_info.email" type="email" class="form-control" placeholder="Email Address" required ng-init="request_info.email='<%= current_user.try(:email) %>'">
                          <span ng-show="request_submitted && lead_form.email.$invalid">invalid email address</span>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input ng-model="request_info.phone_number" type="text" class="form-control" placeholder="Phone Number" ng-init="request_info.phone_number='<%= current_user.try(:phone_number) %>'">
                        </div>
                      </div>
                    </div>
                    <div class="line3"></div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea name="comments" ng-model="request_info.comments" rows="4" class="form-control" placeholder="Comments? Questions? Concerns?"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <select name="lead_is" ng-model="request_info.lead_is" class="form-control">
                            <option value="">When do you plan to move?</option>
                            <option value="Buying in 0-3 months">0-3 months</option>
                            <option value="Buying in 3-6 months">3-6 months</option>
                            <option value="Buying in 6-9 months">6-9 months</option>
                            <option value="Buying in 9-12 months">9-12 months</option>
                            <option value="Buying in 12+ months">12+ months</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <input type="submit" class="btn btn-gold pull-right" ng-click="request_submitted = true;" value="BOOK A VIEWING"/>
                    <div class="clearfix"></div>
                    <br><br>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% if logged_in? %>
  <script>
  $(window).unload(function() {
    $.ajax({
      type: "POST",
      url: "/listings/<%= @listing.id %>/leave_page",
      data: "class_name=<%= @listing.class_name %>",
      async : false
    });
  });
  </script>
<% end %>
