<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>New Listing</h1>
      <%= simple_nested_form_for @listing, url: admin_create_listing_path do |f| %>
        <hr/>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              Listing type:<br/>
              <%= f.select :listing_type, options_for_select(["Residential", "Condo", "PreConstruction"], @listing.listing_type), {}, {class: "form-control"} %>
            </div>
          </div>
        </div>
        <hr/>
        <% @listing.attributes.keys.reject{|a| %w(id latitude longitude created_at updated_at deleted_at fields_to_show listing_type).include?(a)}.sort_by{|a| a.downcase}.in_groups_of(3, false) do |group| %>
          <div class="row">
            <% group.each do |field| %>
              <div class="col-md-4">
                <%= f.input field.to_sym, label: RETS_FIELDS[field] %>
                <% mark_checked = true if @listing.fields_to_show.present? && JSON.parse(@listing.fields_to_show).include?(field) %>
                <%= check_box_tag "fields_to_show[]", field, mark_checked %> Show on listing page
                <hr/>
              </div>
            <% end %>
          </div>
        <% end %>
        <h4>Images</h4>
        <div class="row edit-listing-imgs">
          <%= f.fields_for :listing_images do |images_form| %>
            <div class="col-md-3 center-text" style="padding:10px;">
              <% if images_form.object.image_src.present? %>
                <%= image_tag images_form.object.image_src, class: "img-responsive" %>
              <% else %>
                <%= images_form.file_field :file %>
              <% end %>
              <%= images_form.link_to_remove "Remove image" %>
            </div>
          <% end %>
        </div>
        <p><%= f.link_to_add "+ Add image", :listing_images, class: "btn btn-xs btn-info " %></p>
        <hr/>
        <%= f.submit "Create", class: "btn btn-primary pull-right" %><br/><br/><br/>
      <% end %>
    </div>
  </div>
</div>
