<div class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-sm-1">
				<div class="imagebox">
					<%= image_tag "icon-home.png" %>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="info">
					<span>Quick Search</span>
					<p>Let Nicholas help find your next home</p>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="searchbox">
					<%= form_tag listings_path, method: :get, id: "home_detail_fields"  do %>
					<div class="input-group">
						<%= text_field_tag :query, params[:query], class: "form-control home-autocomplete-field", placeholder: "Search by Address, City, Postal Code, Neighborhood or MLS" %>
						<input name="autocomplete_form" type="hidden" value="true">
						<input name="route" type="hidden" value="">
						<input name="locality" type="hidden" value="">
						<input name="administrative_area_level_1" type="hidden" value="">
						<span class="input-group-btn">
							<button type="submit" class="btn">Search</button>
						</span>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-container">
	<div class="about-us">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-title">
						<h1><%= @title %></h1>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="info">
						<%= @content.try(:html_safe) %>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="explore-more">
						<div class="title">
							More to Explore
						</div>
						<div class="links">
							<ul>
								<li><a href="/about">About Us</a></li>
								<li><a href="/sellers">Sellers</a></li>
								<li><a href="/buyers">Buyers</a></li>
								<li><a href="/resources">Resources</a></li>
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<%= render "layouts/subscribe_form" %>
				</div>
			</div>
		</div>
	</div>
</div>
