<section id="about" class="section">
  <div class="container">
    <div class="text-center">
      <p class="top">THE ICE CONDO BUILDINGS</p>
    </div>
    <%= image_tag "captions/about.png", class: "header" %>

    <div class="subnav">
    </div>

    <div class="about">
      <div class="col-md-5">
        <%= image_tag "about1.jpg", class: "img-responsive" %>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <ul class="list-unstyled">
          <li><span class="gold">ADDRESS:</span> YORK AND BREMNER, TORONTO</li>
          <li><span class="gold">DEVELOPER:</span> LANTERRA DEVELOPMENTS, CADILLAC FAIRVIEW</li>
          <li><span class="gold">ARCHITECT:</span> ARCHITECTSALLIANCE</li>
          <li><span class="gold">INTERIOR DESIGNER:</span> STUDIO MUNGE</li>
          <li><span class="gold">LANDSCAPE ARCHITECT:</span> NAK DESIGN STRATEGIES</li>
          <li><span class="gold">CATEGORY:</span> CONDO</li>
          <li><span class="gold">HEIGHT:</span> 768 FT</li>
          <li><span class="gold">STOREYS:</span> 67</li>
          <li><span class="gold">NUMBER OF UNITS:</span> 743</li>
          <li><span class="gold">HEIGHT:</span> 610FT</li>
          <li><span class="gold">SMALLEST SUITE:</span> 402 SQ FT</li>
          <li><span class="gold">LARGEST SUITE:</span> 1300 SQ FT</li>
        </ul>
      </div>
    </div>
    <div class="about" style="padding: 40px 0;">
      <div class="col-md-6">
        <h3>
          ICE IS A WAY OF LIFE, IT IS AT ONCE URBAN AND CLOSE TO NATURE, INSPIRED BY ARCHITECTURE THAT WHISPERS
          TIMELESS SIMPLICITY THROUGH CLEAN ELEGANT LINES.
        </h3>

        <div class="line"></div>

        <p>Ice is a way of life, it is at once urban and close to nature, inspired by architecture that whispers
          timeless simplicity through clean elegant lines. ICE is tall, sleek and ultimately cool. ICE is
          Scandinavian-inspired design emerging as a gleaming amalgam of glass and metal from the concrete labyrinth
          of Canada’s largest metropolis. ICE offers a green roof that will impact the Toronto skyline with lush,
          oxygen creating landscaping, while creating a canopy of organic shelter over the bustling plaza below. ICE
          is a condominium living that melds its contemporary design with trendsetting lifestyle amenities in
          Toronto’s premiere waterfront location. ICE is prime real estate, sculpted for urban purchasers.</p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <%= image_tag "about2.jpg", class: "img-responsive" %>
      </div>
    </div>
    <%= image_tag "captions/design.png", class: "header vspace" %>

    <div class="about">
      <div class="col-md-5">
        <p>Ice is a way of life, it is at once urban and close to nature, inspired by architecture that whispers
          timeless simplicity through clean elegant lines. ICE is tall, sleek and ultimately cool. ICE is
          Scandinavian-inspired design emerging as a gleaming amalgam of glass and metal from the concrete labyrinth
          of Canada’s largest metropolis.</p>

        <p>Ice is a way of life, it is at once urban and close to nature, inspired by architecture that whispers
          timeless simplicity through clean elegant lines. ICE is tall, sleek and ultimately cool. ICE is
          Scandinavian-inspired design emerging as a gleaming amalgam of glass and metal from the concrete labyrinth
          of Canada’s largest metropolis.</p>

        <p>Ice is a way of life, it is at once urban and close to nature, inspired by architecture that whispers
          timeless simplicity through clean elegant lines. ICE is tall, sleek and ultimately cool. ICE is
          Scandinavian-inspired design emerging as a gleaming amalgam of glass and metal from the concrete labyrinth
          of Canada’s largest metropolis.</p>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h3>ICE IS A COLLABORATION OF SOME OF THE FINEST MINDS AND BRIGHTEST TALENTS OF THE DAY. IN SEARCH FOR THE
          NEWEST CONDS OF CLASSIC SCANDINAVIAN DESIGN THE ICE TEAM TRAVELED TO SWEDEN AND NORWAY IN THE SPRING OF
          2008.</h3>

        <div class="line"></div>
      </div>
      <div class="col-md-5 col-md-offset-2">
        <%= image_tag "about2.jpg", class: "img-responsive vspace" %>
      </div>
    </div>

    <div class="row">
      <hr class="gold vspace">
    </div>
  </div>

  <div class="row hidden-xs logos">
    <div class="col-sm-6">
      <%= image_tag "footer-left.png", width: "207", height: "56" %>
    </div>
    <div class="col-sm-6">
      <%= image_tag "footer-right.png", width: "250", height: "56", class: "pull-right" %>
    </div>
  </div>

  <div style="position: relative; top: -56px;">
    <a href="#page-top" class="center-block page-scroll" style="width: 50px"><%= image_tag "icons/up.png", width: "50", height: "49" %></a>
  </div>
</section>
