<section id="about" class="section">
  <div class="container">
    <div class="text-center">
      <br>
      <p class="top letter-spaced">MARTIN ZIELINSKI</p>
    </div>
    <h1 class="page_title">YOUR LOCAL REAL ESTATE ADVISOR</h1>

    <div class="subnav">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 about-row-1">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <span class="gold">OUR GOAL IS TO PROVIDE YOU WITH PERSONAL AND COMPREHENSIVE SERVICES WHEN PURCHASING YOUR NEW HOME.</span>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <p class="about-content">
              “Congratulations on your decision to move to the Greater Toronto Area. It is a friendly community with an affordable standard of living and reasonably priced housing. You will also appreciate the diverse cosmopolitan opportunities you would typically find in a much larger metropolitan areas of the world”
            </p>
          </div>
          <div class="col-md-4 col-md-offset-1">
            <span style="font-size:16px;">MARTIN IS COMMITTED TO:</span><br>
            <hr style="border-color: #333;">
            <br>
            <ul class="about-list">
              <li>Providing dedicated, personal service to all his clients</li>
              <li>Being flexible and available at all times</li>
              <li>Providing professional and ethical service</li>
              <li>Listening to client needs and developing innovative strategies to address them</li>
              <li>Providing constant feedback to keep clients well informed</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <%= image_tag "about-img-1.png", class: "img-responsive" %>
          </div>
        </div>
        <br><br><br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 about-row-2">
      <div class="container">
        <div class="text-center">
          <br><br><br><br>
          <p class="top letter-spaced">REAL ESTATE TECH BROKERAGE</p>
        </div>
        <h1 class="page_title">CLOUDREALTY</h1>

        <div class="subnav">
        </div><br>
        <center><%= image_tag "cloud-icon.png" %></center>
        <br><br>
        <p class="gold text-center">
          ICE IS A COLLABORATION OF SOME OF THE FINEST MINDS AND BRIGHTEST TALENTS OF THE DAY.
        </p>
        <div class="row about-content">
          <div class="col-md-6">
            <p>
              Cloud Realty was built from the ground up to address a tremendous technology void in the real estate market, whereas many of the traditional real estate brokerages are constantly fighting to integrate new technologies with old systems. Our belief is that consumers and real estate professionals demand a brokerage that is actively shaping the real estate landscape through the development of innovative ideas and trend-setting business philosophies.
            </p>
          </div>
          <div class="col-md-6">
            <p>
              Having better trained agents, allows our clients to achieve their real estate goals faster. By harnessing the power of the Internet we are able to connect buyers and sellers in ways no other brokerages can. Despite the obvious advantages technology brings to real estate, we know one simple fact to be true -  real estate is and always will be a people business.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= link_to "VISIT CLOUDREALTY.CA", "http://cloudrealty.ca", target: "_blank", class: "gold" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="row hidden-xs logos">
    <div class="col-sm-6">
      <%= image_tag "footer-left.png", width: "207", height: "56" %>
    </div>
    <div class="col-sm-6">
      <%= image_tag "footer-right.png", width: "250", height: "56", class: "pull-right" %>
    </div>
  </div>

  <div style="position: relative; top: -56px;">
    <a href="#page-top" class="center-block page-scroll" style="width: 50px"><%= image_tag "icons/up.png", width: "50", height: "49" %></a>
  </div>
</div>
