<% imgs = ["Ice Condo Top View.png", "Ice Condominiums Lobby.png", "Ice Condos Aerial View.png", "Ice Condos Amenities - Mezzanine Level.png", "Ice Condos Amenities Second Level.png", "Ice Condos Canopy.png", "Ice Condos Cocktail Bar.png", "Ice Condos Courtyard Trees.png", "Ice Condos Courtyard Water Feature.png", "Ice Condos Courtyard.png", "Ice Condos Enterance.png", "Ice Condos Fitness Centre.png", "Ice Condos Front Building Lower View.png", "Ice Condos Front of Building.png", "Ice Condos Green Roof Courtyard.png", "Ice Condos Green Roof.png", "Ice Condos Lobby 2.png", "Ice Condos Lobby.png", "Ice Condos Pool.png", "Ice Condos Top View.png", "Ice Condos Unit Sample.png"] %>
<section id="about" class="section">
  <div class="container">
    <div class="text-center">
      <br>
      <p class="top letter-spaced">ICE CONDOS</p>
    </div>
    <h1 class="page_title">GALLERY</h1>

    <div class="subnav">
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% imgs.each_with_index do |img, i| %>
              <div class="item <%= i == 0 ? 'active' : '' %>" data-slide-number="<%= i %>">
                <center><%= image_tag img %></center>
              </div>
            <% end %>
          </div>
        </div>
        <div id="thumbcarousel" class="gallery-thumbnails">
          <% imgs.each_with_index do |img, i| %>
            <div id="thumb_for_<%= i %>" data-target="#myCarousel" data-slide-to="<%= i %>" class="item <%= i == 0 ? 'active' : '' %>">
              <%= image_tag img %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="row hidden-xs logos">
    <div class="col-sm-6">
      <%= image_tag "footer-left.png", width: "207", height: "56" %>
    </div>
    <div class="col-sm-6">
      <%= image_tag("footer-right2.png", width: "150", height: "56", class: "pull-right") %>
      <%= link_to image_tag("footer-right1.png", width: "100", height: "56"), "http://www.cloudrealty.ca", target: "_blank", class: "pull-right" %>
    </div>
  </div>

  <div style="position: relative; top: -56px; width:50px; left: 50%; margin-left: -25px;">
    <a href="#page-top" class="center-block page-scroll" style="width: 50px"><%= image_tag "icons/up.png", width: "50", height: "49" %></a>
  </div>
</div>
