<div id="fullpage">
  <section id="header" class="section">
    <div class="header-content">
      <div class="header-content-inner">
        <div class="visible-xs">
          <h1>WELCOME TO THE NEW</h1>
          <br><br>
          <h1 class="page_title">ICE AGE</h1>
        </div>
      </div>
    </div>
    <%= render "layouts/flash_messages" %>
    <div class="button-bar text-center">
      <a href="/condos-for-sale" class="btn btn-gold text-uppercase btn-lg">ICE CONDOS FOR SALE</a>
      <a href="/condos-for-rent" class="btn btn-gold text-uppercase btn-lg">ICE CONDOS FOR RENT</a>
      <a href="/evaluation" class="btn btn-gold text-uppercase btn-lg">SELL MY ICE CONDO</a>

      <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3 text-center">
          ICE IS A WAY OF LIFE, IT IS AT ONCE URBAN AND CLOSE TO NATURE, INSPIRED BY ARCHITECTURE THAT WHISPERS TIMELESS
          SIMPLICITY THROUGH CLEAN ELEGANT LINES.
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="section">
    <div class="building hidden-xs hidden-sm"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-md-offset-5">
          <p class="top">THE ICE CONDO BUILDINGS</p>
        </div>
      </div>
      <div class="row">
        <%= image_tag "captions/tall.png", class: "ice-caption" %>
      </div>
      <div class="row">
        <div class="col-md-7 col-md-offset-5">
          <h3>ICE IS A WAY OF LIFE, IT IS AT ONCE URBAN AND CLOSE TO NATURE, INSPIRED BY ARCHITECTURE THAT WHISPERS
            TIMELESS
            SIMPLICITY THROUGH CLEAN ELEGANT LINES.</h3>

          <div class="line"></div>

          <p style="padding-left: 40px">
            So what is it about Scandinavian design that makes it so timeless and classic, as fresh and vibrant  now as it was in the mid-20th century.
            <br><br>
            For many, the appeal of the Nordic “look” is that it “humanized” modernism.  By the time Scandinavian design had reached its high point in the mid -1950s (when every suburban household in North America seemed  filled with  Danish Modern furniture) the International Style, as pioneered  by the German Bauhaus movement and master builders like Mies van der Rohe, was in complete ascendance.
            <br><br>
            Another of the enduring appeals of Scandinavian design is that it not only looks good, it is also wonderfully comfortable, useful and sensuous to the touch.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="design" class="section">
    <%= image_tag "building-2.jpg", class: "img-responsive" %>

    <div class="container">
      <p class="top">THE ICE CONDO BUILDINGS</p>
      <%= image_tag "captions/design.png", class: "img-responsive" %><br>

      <div class="row">
        <div class="col-md-6">
          <p>The term Scandinavian Design first appeared in 1951 as the title of an exhibition of a home decorations and furniture - "Scandinavian Design for Living" - at London’s Heal’s Department Store. The exhibition was the first of a series of showcases for Nordic design, decoration and furniture.</p></div>

        <div class="col-md-6">
          <h3>ICE IS A COLLABORATION OF SOME OF THE FINEST MINDS AND BRIGHTEST TALENTS OF THE DAY. IN SEARCH FOR THE
            NEWEST CONDS OF CLASSIC SCANDINAVIAN DESIGN THE ICE TEAM TRAVELED TO SWEDEN AND NORWAY IN THE SPRING OF
            2008.</h3>

          <div class="line"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="amenities" class="section">
    <div class="container-fluid">
      <div class="col-md-6">
        <div class="col-sm-10 col-sm-offset-2">
          <p class="top">THE ICE CONDO BUILDINGS</p>
          <%= image_tag "captions/amenities.png", class: "img-responsive caption" %>

          <div class="row">
            <div class="col-sm-7" style="padding-bottom: 20px;">
              <h4>MEZZANINE LEVEL</h4>

              <p>FITNESS & WEIGHT TRAINING ROOM<br>
                AEROBIC / YOGA ROOM<br>
                ICE SPA &amp; FITNESS CENTRE<br>
                MASSAGE ROOMS<br>
                RELAXING LOUNGE<br>
                SAUNA<br>
                COLD PLUNGE<br>
                STEAM ROOM<br>
                SWIMMING POOL &amp; HOT TUB</p>
            </div>
            <div class="col-sm-5" style="padding-bottom: 20px;">
              <h4>SECOND LEVEL</h4>

              <p>PARTY ROOM<br>
                KITCHEN<br>
                COCKTAIL/DINING ROOM<br>
                LOUNGE<br>
                BUSINESS CENTRE<br>
                BOARD ROOM<br>
                MEETING ROOM
              </p></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row" style="padding-top: 30px;">
          <div class="col-sm-6" style="padding-right: 0;">
            <%= image_tag "building-3.jpg", class: "img-responsive" %>
          </div>
          <div class="col-sm-6">
            <h3> ICE OFFERS A GREEN ROOF THAT WILL IMPACT THE TORONTO SKYLINE WITH LUSH, OXYGEN CREATING LANDSCAPING,
              WHILE CREATING A CANOPY OF ORGANIC SHELTER OVER THE BUSTLING PLAZA BELOW.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-right">
            <h3 class="text-uppercase">Inspired by the classic beauty of modern Scandinavian design the team behind ICE Condos journeyed to the lands of the Midnight Sun to seek inspiration for their Toronto project.</h3>
          </div>
          <div class="col-sm-6 hidden-xs" style="padding-left: 0;">
            <%= image_tag "home-amenities01.jpg", class: "img-responsive" %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="welcome" class="text-center section">
    <p class="top">THE ICE CONDO BUILDINGS</p>

    <div class="container">
      <%= image_tag "captions/welcome.png", class: "img-responsive center-block" %>

      <div class="row" style="padding: 30px 0">
        <div class="col-md-4">
          <h3 class="text-uppercase">Architect</h3>

          <p>Peter Clewes and architects Alliance</p>
        </div>
        <div class="col-md-4">
          <h3 class="text-uppercase">INTERIOR DESIGN</h3>

          <p>Alessandro Munge and Sai Leung </p>
        </div>
        <div class="col-md-4">
          <h3 class="text-uppercase">LANDSCAPE ARCHITECT</h3>

          <p>Robert Ng and NAK Design</p>
        </div>
      </div>
      <div class="footer" style="padding-bottom: 20px;">
        <div class="row text-center">
          <div style="display: inline-block">
            <%= image_tag "logo.png", width: "75", height: "29", class: "pull-left", style: "margin-top: -6px;" %>
            <span class="xsmall-font pull-left" style="line-height: 29px">TORONTO’S MOST LUXURIOUS CONDOMINIUMS</span></div>
        </div>
        <a href="/condos-for-sale" class="btn btn-gold text-uppercase btn-lg">ICE CONDOS FOR SALE</a>
        <a href="/condos-for-rent" class="btn btn-gold text-uppercase btn-lg">ICE CONDOS FOR RENT</a>
        <a href="/evaluation" class="btn btn-gold text-uppercase btn-lg">SELL MY ICE CONDO</a>
      </div>
      <div class="center-block" style="padding-bottom: 20px;">
        <%= image_tag "footer-left.png", width: "207", height: "56", style: "padding-right: 40px;" %>
        <%= link_to image_tag("footer-right1.png", width: "100", height: "56"), "http://www.cloudrealty.ca", target: "_blank" %>
        <%= image_tag("footer-right2.png", width: "150", height: "56") %>
      </div>
    </div>
  </section>
</div>
