<section id="about" class="section sellers">
  <div class="container">
    <div class="text-center">
      <br>
      <p class="top letter-spaced text-uppercase">My listings get "sold"</p>
    </div>
    <h1 class="page_title">MY OBJECTIVE IS NOT TO GET IT LISTED…</h1>
    <h4 class="subheading">IT’S TO GET IT SOLD!</h4>
    <br><br>
    <div class="heading">
      <p>TREB listings to sales ratio's</p>
    </div>

    <div class="charts">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <%= image_tag "selling-pie1.png", class: "img-responsive" %>
          </div>
          <div class="numbers col-md-3">
            <h4>TREB SOLDS</h4>
            <span>62.5%</span>
          </div>
          <div class="col-md-3">
            <%= image_tag "selling-pie2.png", class: "img-responsive" %>
          </div>
          <div class="numbers col-md-3">
            <h4>My solds</h4>
            <span>98%</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 chart-key">
            <ul>
              <li>
                <span>unsold listings year-to-date</span>
              </li>
              <li>
                <span>sold listings year-to-date</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="objective">

      <div class="container">
        <div class="row objective-heading">
           <div class="col-md-12">
            <h2>MARKETING POWER HOUSE</h2>
            <p>HOW WE MARKET OUR LISTINGS</p>
          </div>
        </div>
        <div class="row objective-row">
          <div class="col-md-3">
            <span><%= image_tag "sales-icon-1.png", height: "40px" %></span>
            <h3>Professionally Designed Printed & Emailed Property Feature Sheets</h3>
            <p>Every Feature Sheet Directs Potential Buyers to Your Virtual Tour</p>
          </div>
           <div class="col-md-3">
            <span><%= image_tag "sales-icon-2.png", height: "40px" %></span>
            <h3>For Sale Sign<br>On The Yard</h3>
            <p>24Hr Marketing Display</p>
          </div>
          <div class="col-md-3">
            <span><%= image_tag "sales-icon-3.png", height: "40px" %></span>
            <h3>Mass Email To Agents, Potential And Existing Clients</h3>
            <p>Directed To A Target Market</p>
          </div>
          <div class="col-md-3">
            <span><%= image_tag "sales-icon-4.png", height: "40px" %></span>
            <h3>Constant Follow-up From Start-to-Sold-to-Close</h3>
            <p>Communication With Realtors And Potential Buyers For Their Feedback</p>
          </div>
        </div>
        <div class="row objective-row">
          <div class="col-md-3">
            <span><%= image_tag "sales-icon-5.png", height: "40px" %></span>
            <h3>Open Houses</h3>
            <p>Realtor and Public Open Houses</p>
          </div>
           <div class="col-md-3">
            <span><%= image_tag "sales-icon-6.png", height: "40px" %></span>
            <h3>Print Advertising</h3>
            <p>Local Newspapers, Magazines, and Flyers.</p>
          </div>
          <div class="col-md-3">
            <span><%= image_tag "sales-icon-7.png", height: "40px" %></span>
            <h3>Endless Online<br>Exposure</h3>
            <p>Syndication Of The Listing To Numerous Web-sites And Social Media Platforms</p>
          </div>
          <div class="col-md-3">
            <span><%= image_tag "sales-icon-8.png", height: "40px" %></span>
            <h3>Just Listed<br>Cards</h3>
            <p>Our Just Listed Marketing Cards Target Immediate Area of the Property</p>
          </div>
        </div>
        <div class="row objective-row-icons">
          <br>
          <div class="row">
            <div class="col-md-3">
              <%= image_tag "selling-icon1.png" %>
              <h3>MLS & REALTOR.CA PLACEMENT</h3>
              <p>Exposure To Over 50,000 Agents And All Current Buyer</p>
            </div>
             <div class="col-md-3">
              <%= image_tag "selling-icon2.png" %>
              <h3>FACEBOOK MARKETING</h3>
              <p>Your Listing Advertised On My Facebook Page With Over 100,000 Likes</p>
            </div>
            <div class="col-md-3">
              <%= image_tag "selling-icon3.png" %>
              <h3>PROFESSIONAL <br>PHOTOGRAPHY</h3>
              <p>Photos Appear On Agent MLS, Realtor.ca And All Other Marketing Material</p>
            </div>
            <div class="col-md-3">
              <%= image_tag "selling-icon4.png" %>
              <h3>IN DEPTH COMPARATIVE MARKET ANALYSIS</h3>
              <p>Past Sales, Current Availability, Market Trends And Stats</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 start-now">
        <a href="/evaluation?u=<%=u request.path%>" class="btn">Start now</a>
      </div>
    </div>

  </div>

  <br><br><br>
  <div class="row hidden-xs logos">
    <div class="col-sm-6">
      <%= image_tag "footer-left.png", width: "207", height: "56" %>
    </div>
    <div class="col-sm-6">
      <%= image_tag("footer-right2.png", width: "150", height: "56", class: "pull-right") %>
      <%= link_to image_tag("footer-right1.png", width: "100", height: "56"), "http://www.cloudrealty.ca", target: "_blank", class: "pull-right" %>
    </div>
  </div>

  <div style="position: relative; top: -56px; width:50px; left: 50%; margin-left: -25px;">
    <a href="#page-top" class="center-block page-scroll" style="width: 50px"><%= image_tag "icons/up.png", width: "50", height: "49" %></a>
  </div>

</section>
