<div class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-sm-1">
				<div class="imagebox">
					<%= image_tag "icon-home.png" %>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="info">
					<span>Quick Search</span>
					<p>Let Nicholas help find your next home</p>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="searchbox">
					<%= form_tag listings_path, method: :get, id: "home_detail_fields"  do %>
					<div class="input-group">
						<%= text_field_tag :query, params[:query], class: "form-control home-autocomplete-field", placeholder: "Search by Address, City, Postal Code, Neighborhood or MLS" %>
						<input name="autocomplete_form" type="hidden" value="true">
						<input name="route" type="hidden" value="">
						<input name="locality" type="hidden" value="">
						<input name="administrative_area_level_1" type="hidden" value="">
						<span class="input-group-btn">
							<button type="submit" class="btn">Search</button>
						</span>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-container">
	<div class="about-us">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-title">
						<h1><%= @title %></h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-md-11">
							<%= image_tag "contact_us.png", class: "img-responsive" %>
							<br>
							<%= @content.try(:html_safe) %>
							<br><br>
							<div class="row">
								<div class="col-md-10 col-md-offset-1 login-form">
									<h3 class="text-center" style="line-height:40px !important;">Nicholas Alli is a boutique like real estate agent servicing the Ajax and Pickering Market.
										<br><br>
										<a href="<%= SiteConfiguration.first.try(:facebook_url) %>" target="_blank"><i class="fa fa-facebook"></i></a>
										&nbsp;
										<a href="<%= SiteConfiguration.first.try(:twitter_url) %>" target="_blank"><i class="fa fa-twitter"></i></a>
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-md-11 col-md-offset-1">
							<%= simple_form_for @contact do |f| %>
						    <%= f.input :name, :required => true %>
						    <%= f.input :email, :required => true %>
						    <%= f.input :message, :as => :text, :required => true, input_html: { rows: 10 } %>
						    <div class= "hidden">
						      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
						    </div>
						    <div>
						      <%= f.button :submit, 'Send message', :class=> "btn btn-primary pull-right" %>
						    </div>
						  <% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
