
<div class="main-container">
	<div class="about-us">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-title">
						<h1><%= @title %></h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-md-11">
							<%= image_tag "contact_us.png", class: "img-responsive" %>
							<br>
							<%= @content.try(:html_safe) %>
							<br><br>
							<div class="row">
								<div class="col-md-10 col-md-offset-1 login-form">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-md-11 col-md-offset-1">
							<%= simple_form_for @contact do |f| %>
						    <%= f.input :name, :required => true %>
						    <%= f.input :email, :required => true %>
						    <%= f.input :message, :as => :text, :required => true, input_html: { rows: 10 } %>
						    <div class= "hidden">
						      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
						    </div>
						    <div>
						      <%= f.button :submit, 'Send message', :class=> "btn btn-primary pull-right" %>
						    </div>
						  <% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
