<h2>Home Alerts</h2>
<h4>Here's the list of newly added properties based on your settings</h4>
<hr/><br/>
<table>
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        MLS&reg;
      </th>
      <th>
        Price
      </th>
      <th>
        Bedrooms
      </th>
      <th>
        Bathrooms
      </th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do |l| %>
      <tr>
        <td>
          <%= link_to l.title, l %>
        </td>
        <td>
          <%= l.ml_num %>
        </td>
        <td>
          <%= number_to_currency(l.lp_dol, precision: 0) %>
        </td>
        <td>
          <%= l.br %>
        </td>
        <td>
          <%= l.bath_tot %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
