<footer>
  <% if params[:controller] == "home" && params[:action] == "index" %>
    <div style="position: relative; top: 56px; z-index: 1;">
      <a href="#" id="scroll-page-top" class="center-block bounce" style="width: 50px; display: none;"><%= image_tag "icons/up.png", width: "50", height: "49" %></a>
      <a href="#" id="scroll-page-down" class="center-block bounce" style="width: 50px; display: none;"><%= image_tag "icons/down.png", width: "50", height: "49" %></a>
    </div>
    <div class="row hidden-xs logos">
      <div class="col-sm-6">
  			<%= image_tag "footer-left.png", width: "207", height: "56" %>
      </div>
      <div class="col-sm-6">
  			<%= image_tag "footer-right.png", width: "250", height: "56", class: "pull-right" %>
      </div>
    </div>
  <% end %>

  <div class="bottom">
    <hr>

    <div class="row">
      <div class="col-xs-6">12 &amp; 14 YORK ST, TORONTO, ON, CANADA</div>
      <div class="col-xs-6">
        <div class="pull-right">© 2015. ALL RIGHTS RESERVED</div>
      </div>
    </div>
  </div>
</footer>

<% unless user_signed_in? %>
  <div class="modal fade" id="modal-login" tabindex="-1" role="dialog">
    	<div class="modal-dialog">
      	<div class="modal-content">
        		<div class="modal-header icon-user">
          		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          		<h4 class="modal-title">SIGN IN</h4>
        		</div>
        		<div class="modal-body">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="box-grey">
                  <div class="form-group">
                    <%= f.email_field :email, placeholder: "Email Address", class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
                  </div>

                  <% if devise_mapping.rememberable? -%>
                    <div class="form-group pull-left">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end -%>
                  <div class="pull-right">
                    <%- if devise_mapping.omniauthable? %>
                      <%- resource_class.omniauth_providers.each do |provider| %>
                        <%= link_to "Sign in with #{provider.to_s == 'google_oauth2' ? 'Google' : provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
                      <% end -%>
                    <% end -%>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="row">
                	<div class="col-sm-3">
                    <%= f.submit "SIGN IN", class: "btn btn-primary btn-block" %>
                  </div>
                  <div class="col-sm-9 text-right-center">
                  	<a href="#" class="btn btn-link" data-toggle="signup">NEED AN ACCOUNT? <span class="fa fa-arrow-right"></span></a>
                  </div>
                </div>
              <% end %>
        		</div>
      	</div>
    	</div>
  </div>

  <div class="modal fade" id="modal-signup" tabindex="-1" role="dialog">
    	<div class="modal-dialog">
      	<div class="modal-content">
        		<div class="modal-header icon-user">
          		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          		<h4 class="modal-title">SIGN UP</h4>
        		</div>
        		<div class="modal-body">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                	<div class="box-grey">
                    <div class="form-group">
                      <%= f.email_field :email, placeholder: "Email Address", class: "form-control" %>
                    </div>
                    <div class="row">
                    	<div class="col-sm-6">
                      	<div class="form-group">
                          <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", class: "form-control" %>
                        </div>
                      </div>
                    	<div class="col-sm-6">
                      	<div class="form-group">
                          <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-6">
                      	<div class="form-group">
                          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
                        </div>
                      </div>
                    	<div class="col-sm-6">
                      	<div class="form-group">
                        	<div class="fz10">A password must be eight characters including one uppercase letter, one special character and alphanumeric characters. </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-6">
                    		<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "form-control" %>
                      </div>
                    </div>
                    <hr>
                    <div class="fz11">By registering you agree to Terms of Service and Privacy Policy</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-9">
                    	<a href="#" class="btn btn-link" data-toggle="login"><span class="fa fa-arrow-left"></span> BACK TO SIGN IN?</a>
                    </div>
                  	<div class="col-sm-3">
                      <%= f.submit "SING UP", class: "btn btn-primary btn-block" %>
                    </div>
                  </div>
                <% end %>
        		</div>
      	</div>
    	</div>
  </div>
<% end %>
