<footer>
  <% if params[:controller] == "home" && params[:action] == "index" %>
    <div style="position: relative; top: 56px; z-index: 1; width:50px; left: 50%; margin-left: -25px;">
      <a href="#" id="scroll-page-top" class="center-block bounce" style="width: 50px; display: none;"><%= image_tag "icons/up.png", width: "50", height: "49" %></a>
      <a href="#" id="scroll-page-down" class="center-block bounce" style="width: 50px; display: none;"><%= image_tag "icons/down.png", width: "50", height: "49" %></a>
    </div>
    <div class="row hidden-xs logos">
      <div class="col-sm-6">
  			<%= image_tag "footer-left.png", width: "207", height: "56" %>
      </div>
      <div class="col-sm-6">
        <%= link_to image_tag("footer-right2.png", width: "150", height: "56"), "http://www.mississauga-realestate.com/", target: "_blank", class: "pull-right" %>
        <%= link_to image_tag("footer-right1.png", width: "100", height: "56"), "http://www.cloudrealty.ca", target: "_blank", class: "pull-right" %>
      </div>
    </div>
  <% end %>

  <div class="bottom">
    <hr>

    <div class="row">
      <div class="col-xs-6">12 &amp; 14 YORK ST, TORONTO, ON, CANADA</div>
      <div class="col-xs-6">
        <div class="pull-right">© 2015. ALL RIGHTS RESERVED</div>
      </div>
    </div>
  </div>
</footer>

<% unless user_signed_in? %>
  <div class="modal fade" id="modal-login" tabindex="-1" role="dialog">
    	<div class="modal-dialog modal-sm">
          <div class="devise_box">
	          <%- if devise_mapping.omniauthable? %>
	            <%- resource_class.omniauth_providers.each do |provider| %>
	              <%= link_to "#{provider.to_s == 'facebook' ? 'FACEBOOK LOGIN' : provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "btn btn-block facebook-btn" %><br />
	            <% end -%>
	          <% end -%>
						<p class="login-separator">
							<span>OR</span>
						</p>
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	            <%= devise_error_messages! %>
	            <div class="form-group">
	              <%= f.email_field :email, placeholder: "Email Address", class: "form-control" %>
	            </div>
	            <div class="form-group">
	              <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
	            </div>
							<div class="actions">
	              <%= f.submit "SIGN IN", class: "btn btn-gold btn-block" %>
	            </div>
							<br>
	            <% if devise_mapping.rememberable? -%>
	              <div class="form-group pull-left">
	                <%= f.check_box :remember_me %>
	                <%= f.label :remember_me, "Remember", style: "font-weight:100;" %>
	              </div>
	            <% end -%>
	            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
	              <%= link_to "Forgot your password?", new_password_path(resource_name), style: "font-size:14px;", class: "pull-right gold" %><br />
	            <% end -%>
							<div class="clearfix"></div>
							<hr style="margin-top:0;">
							<center>Don't have an account? <a href="#" class="gold" data-toggle="signup">Sign up</a></center>
	          <% end %>
					</div>
    	</div>
  </div>

  <div class="modal fade" id="modal-signup" tabindex="-1" role="dialog">
    	<div class="modal-dialog modal-sm">
        <div class="devise_box">
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= link_to "#{provider.to_s == 'facebook' ? 'FACEBOOK LOGIN' : provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "btn btn-block facebook-btn" %><br />
            <% end -%>
          <% end -%>
          <p class="login-separator">
            <span>OR</span>
          </p>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                    <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", class: "form-control" %>
                  </div>
                </div>
              <div class="col-sm-6">
                  <div class="form-group">
                    <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
                    </div>
                </div>
            </div>

            <div class="form-group">
              <%= f.email_field :email, placeholder: "Email Address", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "SIGN UP", class: "btn btn-block btn-gold" %>
            </div>
            <br>
            <hr style="margin-top:0;">
            <center>Already have an account? <%= link_to "Sign In", "#", class: "gold", "data-toggle" => "login" %></center>
          <% end %>
        </div>

    	</div>
  </div>
<% end %>
