<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="/">
        <%= image_tag "logo.png", width: "75", height: "29", class: "pull-left", style: "margin-top: -6px;" %>
        <span class="xsmall-font">TORONTO’S MOST LUXURIOUS CONDOMINIUMS</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% l = MenuLocation.where(name: "Header").first %>
        <% l.menu_items.each do |m| %>
          <li class="visible-xs"><%= link_to m.title, m.url %></li>
        <% end if l %>
        <% if user_signed_in? %>
          <li><%= link_to "Favourites", favourites_path %></li>
          <li><%= link_to "My Account", my_account_path %></li>
          <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><a href="#modal-login" data-toggle="modal">LOGIN / REGISTER</a></li>
        <% end %>
        <li><a href="/contact?u=<%=u request.original_url %>">FAST RESPONSE&nbsp;&nbsp;<i class='fa fa-phone fa-rotate-90 fa-2x'></i></a></li>
        <li>
          <a href="#" class="menu-toggle hidden-xs">
            &nbsp;&nbsp;&nbsp;&nbsp;MENU&nbsp;&nbsp;
            <div class="hamburger">
              <span></span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="nav-menu">
  <div id="menu-scroll" class="nano">
    <div class="nano-content">
      <ul class="nav">
        <li class="text-uppercase"><%= link_to "Home", "/" %></li>
        <li class="text-uppercase"><%= link_to "Buyers", "" %></li>
        <li class="text-uppercase assub"><%= link_to "condos for sale", "/condos-for-sale" %></li>
        <li class="text-uppercase"><%= link_to "Sellers", "" %></li>
        <li class="text-uppercase assub"><%= link_to "why sell with us", "/" %></li>
        <li class="text-uppercase assub"><%= link_to "sell my condo", "/evaluation?u=#{u request.original_url}" %></li>
        <li class="text-uppercase assub"><%= link_to "what's my condo worth", "/evaluation?u=#{u request.original_url}" %></li>
        <li class="text-uppercase"><%= link_to "Renters", "" %></li>
        <li class="text-uppercase assub"><%= link_to "condos for lease", "/condos-for-rent" %></li>
        <li class="text-uppercase"><%= link_to "ice condo market data", "/" %></li>
        <li class="text-uppercase"><%= link_to "Reviews", "/reviews" %></li>
        <li class="text-uppercase"><%= link_to "location", "/location" %></li>
        <li class="text-uppercase"><%= link_to "floor plans", "/location#floors" %></li>
        <li class="text-uppercase"><%= link_to "gallery", "/gallery" %></li>
        <li class="text-uppercase"><%= link_to "about us", "/about" %></li>
        <li class="text-uppercase"><%= link_to "contact us", "/contact?u=#{u request.original_url}" %></li>
      </ul>
    </div>
  </div>
</div>
